@model IEnumerable<WebApplication43.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpList3</title>
</head>
<body>
   
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name","EmpList3",new {orderBy="nameasc" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>

        </tr>
    }
    
    </table>
</body>
</html>
